<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Connexion administrateur</title>
  <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

  <style>
    .card {
      margin-top: 10%;
      background-color: #fafafa;
      border: 1px solid hsl(0, 0%, 53%);
      border-radius: .25rem;
    }
  </style>
</head>
<body>
  <div class="card wrapper">
    {% if hasError %}
    
    <div class="alert warning">
      <p>Les informations renseignées sont erronées.</p>
    </div>
    
    {% endif %}
    

    <h2><i class="fas fa-lock"></i> Connexion Administrateur</h2>

    <form method="POST" class="wrapper">
      <label for="_username">Email</label>
      <input type="email" name="_username" placeholder="Adresse email ..." value="{{ username }}">

      <label for="_password">Mot de passe</label>
      <input type="password" name="_password" placeholder="Mot de passe ...">

      <button type="submit" class="button primary"><i class="fas fa-unlock"></i> Se connecter</button>
      <a href="{{ path('homepage') }}" class="button secondary"><i class="fas fa-arrow-circle-left"></i> Retour au site</a>
    </form>

  </div>
</body>
</html>