<footer>
  <ul>
    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
    <li><a href="https://www.facebook.com/moodinwood/"><i class="fab fa-facebook-square"></i></a></li>
    <li><a href="https://www.instagram.com/moodinwood07/"><i class="fab fa-instagram"></i></a></li>
  </ul>

  <div>
    <p>Webdesign — Intégration — Développement par <a href="https://www.linkedin.com/in/simon-escure-4714a4161/">Simon Escure</a> — Tous droits réservés — 2018</p>
  </div>
</footer>