<header>
  <nav>
    <ul>
      <li><a href=""><img src="{{asset('build/img/logo_MiW_white200.png')}}" alt=""></a></li>
      <li><a href=""></a></li>
    </ul>
    <div id="hamburger-menu" role="button">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
  </nav>
</header>