<div class="sidenav-container hidden">
  <div class="sidenav-backdrop"></div>
  <div class="sidenav">
    <a href="{{ path('homepage') }}"><img src="{{ asset('build/img/logo_MiW_white200.png')}} " alt="Mood in Wood logo"></a>
    <ul class="nav-list">
      <li class="nav-item"><a href="">La démarche</a></li>
      <li class="nav-item"><a href="{{ path('posts_index') }}">Actualités</a></li>
      <li class="nav-item"><a href="">Créations</a>
        <div class="submenu">
          <ul><a><span>Les bois</span></a>
            <li class=""><a href="">Acacia</a></li>
            <li class=""><a href="">Genévrier</a></li>
            <li class=""><a href="">If</a></li>
            <li class=""><a href="">Orme</a></li>
            <li class=""><a href="">Pommier</a></li>
            <li class=""><a href="">Variés</a></li>
          </ul>

          <ul><a href=""><span>Les Naturelles</span></a>
            <li><a href="">Boucles d'oreilles</a></li>
            <li><a href="">Bagues</a></li>
          </ul>

          <ul><a href=""><span>Les Serties</span></a>
            <li><a href="">Boucles d'oreilles</a></li>
            <li><a href="">Bagues</a></li>
            <li><a href="">Boutons de manchette</a></li>
          </ul>

          <ul><a><span>Les catégories</span></a>
            <li><a href="">Boucles d'oreilles</a></li>
            <li><a href="">Bagues</a></li>
            <li><a href="">Boutons de manchette</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item"><a href="">À propos</a></li>
      <li class="nav-item"><a href="">Contact</a></li>
    </ul>
  </div>
</div>