<aside>

  <nav>
    <a href="{{ path('posts_index') }}"><h4>Tous les articles</h4></a>
    <ul>
      {% for month in months %}
        <li>
          <a href="{{ path('posts_by_month', { 'year': month|slice(3,7), 'month': month|slice(0,2) }) }}">
            {{ month|frMonth }}
          </a>
        </li>
      {% endfor %}
    </ul>

  </nav>


</aside>