{% extends 'admin/base.html.twig' %}

{% block title %}Modifier l'article "{{ post.title }}"{% endblock %}

{% block body %}


  {{ form_start(form) }}
  {{ form_widget(form) }}
  <button type="submit"><i class="fas fa-save"></i> Modifier l'article</button>
  {{ form_end(form) }}


{% endblock %}