{% extends 'base.html.twig' %}

{% block title %}Mood in Wood | Accueil{% endblock %}

{% block body %}


<h1>Coucou</h1>

<!-- Flash messages -->
{% for label, messages in app.flashes %}
<div class="container">
    <div class="alert {{ label }}">
        {% for message in messages %}
            {{ message | raw }}
        {% endfor %}
    </div>
</div>
{% endfor %}


{% endblock %}