$menu-width: 250px;
$small: 750px;
$medium: 1024px;

@media only screen and (max-width: $small) {
  .banner {
    display: none;
  }

  header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }

  main {
    margin-top: $nav-height !important;
  }

  #hamburger-menu {
    display: block;
    height: $nav-height;
    float: right;
    margin-right: .75rem;
  }
  
  .menu {
    position: fixed;
    right: 0;
    background-color: $dark;
    width: $menu-width;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    

    @include translateX($menu-width);

    &.is-open {
      @include shadow(-5px, 5px, 5px, $dark6);
      @include translateX(0);
    }
  }

  .wrapper {
    width: 100%;
    padding: 2rem .5rem;
  }

  /* ----------------------------------------- *\
    POSTS PAGES
  \* ----------------------------------------- */
  .posts {
    flex-direction: column;
    .post {
      flex-basis: 100%;
    }
  }

  .post-details {
    img {
      display: block;
      margin: 1.5rem auto;
      float: none;
      width: 100%;
    }
  }

  /* ----------------------------------------- *\
    ADMIN
  \* ----------------------------------------- */
  table {
    tbody, thead {
      tr {
        td {
          &:nth-of-type(3) {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $small + 1px) and (max-width: $medium) {
  .wrapper {
    width: 90%;
  }

  nav {
    width: 90%;
  }

  .post {
    flex-direction:column;
    div {
      width: 100%;
    }
  }
}