@import "reset.scss";
@import "variables.scss";
@import "mixins.scss";


/* ----------------------------------------- *\
    BASE LAYOUT
\* ----------------------------------------- */

* {
  @include box-sizing;
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  background-color: $light-grey;
  line-height: $line-height;
  color: $dark-grey;
  
  font: {
    family: $opensans;
    size: $body-size;
  }
}

main {
  flex: 1 1 auto;
  background-color: $light;
}

ul {
  margin-block-end: 0;
  margin-block-start: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
  padding: 2rem;
}


/* ----------------------------------------- *\
    BANNER
\* ----------------------------------------- */
.banner {
  display: block;
  background-image: url('assets/img/woodlogs_bg_sepia.jpg');
  background-position: top;
  height: 360px;

  img {
    display: block;
    width: 150px;
    margin: 0 auto;
    padding: 20px;
    background-color: $dark;
    box-shadow: 8px 6px 12px hsla(0,0%,0%, .6);
  }

  h1 {
    font-family: 'highlander', $lato;
    font-size: 6rem;
    font-weight: lighter;
    color: $light;
    text-align: center;
    margin: 50px auto 0;
    text-shadow: $text-shadow;
    opacity: .9;
  }
  
  h1 + p {
    text-align: center;
    color: $light;
    text-shadow: $text-shadow;
    font-family: $lato;
    font-size: 2rem;
    margin-top: 50px;
    font-variant: small-caps;
  }
}

h2 {
  margin: 2rem auto;
  text-align: center;
  font: {
    family: $lato;
    size: 1.8rem;
    weight: 700;
  }
  &::after {
    display: block;
    content: "";
    width: 50px;
    height: 4px;
    margin: 1.5rem auto;
    background-color: $highlight;
  }
}

/* ----------------------------------------- *\
    HEADER
\* ----------------------------------------- */
header {
  background-color: $dark;
  height: $nav-height;
  
  .header-logo {
    float: left;
    img {
      height: $nav-height;
      padding: 2px;
    }
    @media only screen and (min-width: 750px) {
      display: none;
    }
  }
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $nav-height;
    width: 100%;
    color: $light;
    font: {
      family: $lato;
      variant: small-caps;
      size: 1.3rem;
    }
    transition: all 300ms ease;
    &:hover{
      background-color: $beige;
      color: $dark;
    }
  }
}

#hamburger-menu {
  display: none;
  position: relative;
  //margin-left: auto;
  //margin-right: 20px;
  width: 30px;
  height: 30px;
  z-index: 10;
  @include rounded(50%);
  @include transition(all, .2s, ease);

  &.is-clicked {
    .line:nth-of-type(2) {
      transform: translateX(-100%) translateY(-2px);
      opacity: 0;
    }

    .line:nth-of-type(1) {
      transform: translateY(0) translateX(-50%) rotateZ(45deg);
    }

    .line:nth-of-type(3) {
      transform: translateY(0) translateX(-50%) rotateZ(-45deg);
    }
  }

  .line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 2px;
    background-color: $light;
    display: block;
    @include transition(all, .3s, ease);
    transform: translateX(-50%) translateY(-50%);

    &:nth-of-type(1) {
      transform: translateY(-7px) translateX(-50%);
    }

    &:nth-of-type(3) {
      transform: translateY(5px) translateX(-50%);
    }
  }
}

/* ----------------------------------------- *\
    FOOTER
\* ----------------------------------------- */
footer {
  background-color: $beige;
  border-top: 1px solid hsla(0,0%,8%,.3);
  text-align: center;
  padding: 1rem 0;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    &:hover {
      li {
        opacity: .5;

        &:hover {
          opacity: 1;
        }
      }
    }
    
    li {
      margin: 10px 15px;
      transition-duration: 400ms;

      i {
        font-size: 2rem;
        color: $dark;
      }
    }
  }

  p {
    font-size: 60%;

    a {
      color: inherit;
      text-decoration: underline;
      transition-duration: 400ms;
      &:hover {
        color: $highlight;
      }
    }
  }
}

/* ----------------------------------------- *\
    POSTS PAGES
\* ----------------------------------------- */
.posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  border: 1px solid $light-grey;
  border-radius: 10px;
  padding: 1rem;
  margin: 2rem 1rem;
  flex-basis: 45%;
  background-color: hsl(0, 0%, 93%);

  h3 {
    color: $dark-grey;
    font: {
      family: $lato;
      size: 1.7rem;
      weight: 700;
    }
  }

  figure {
    width: 100%;
    img {
      border: 1px solid $dark6;
      height: auto;
      width: 100%;
    }
  }

  .post-preview {
    margin: .75rem 0;
    text-align: justify;
  }

  .post-link {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 2rem;

    i {
      transition: all 300ms ease;
    }

    &:hover i {
      color: $highlight;
      @include translateX(8px);
    }

  }
}

.date {
  margin: .75rem 0;
  color: $mid-grey;
  letter-spacing: .15rem;
  font: {
    family: $opensans;
    size: .8rem;
  }
}

.post-details {
  padding: 2rem;
  text-align: justify;
  img {
    border: 1px solid $dark6;
    float: left;
    max-height: 300px;
    max-width: 450px;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .clear {
    clear: both;
  }
}

/* ----------------------------------------- *\
    PAGINATION
\* ----------------------------------------- */
.pagination {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;

    li {
      width: 25px;
      height: 25px;
      margin: .2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      transition: all 300ms ease;
      
      &.disabled {
        pointer-events: none;
      }
      
      &.active {
        border: 2px solid $highlight;
        border-radius: 50%;
      }
      
      &:hover {
        font-weight: bolder;
      }
      
      a {
        width: 25px;
        height: 25px;
        font-size: 1rem;
        color: $dark;
      }
    }
  }
}

/* ----------------------------------------- *\
    FORMS
\* ----------------------------------------- */
form {
  padding: 2rem;

  label {
    font: {
      family: $lato;
      color: $dark-grey;
      weight: bolder;
    }
  }

  input, textarea {
    display: block;
    width: 100%;

    margin: .25rem 0 1.5rem 0;
    padding: .5rem .75rem;

    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid $light-grey;
    border-radius: .25rem;

    color: $mid-grey;

    transition: all 200ms ease-in-out;

    &:focus {
      color: $dark-grey;
      border-color: $highlight;
      outline: 0;
      @include shadow(0, 0, 0.5rem, $highlight3);
    }

    &::placeholder {
      font-family: $opensans;
    }
  }

  textarea {
    min-height: 200px;
  }

}

.button {
  margin: 1rem 0;
  padding: .5rem 1rem;

  border: none;
  border-radius: .25rem;
  
  color: $light;
  font-family: $lato;
  font-size: 1rem;
  
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
  
  
  &.primary {
    background-color: $highlight;
    &:hover {
      background-color: darken($highlight);
    }
  }
  
  &.secondary {
    background-color: $mid-grey;
    &:hover {
      background-color: darken($mid-grey);
    }
  }

  &.with-icon {
    display: block;
    margin-top: 2rem;
    float: right;
    font-weight: 700;
    color: $dark-grey;

    i {
      transition: all 300ms ease;
    }
    
    &:hover {
      i {
        color: $highlight;
        @include translateX(-8px);
      }
    }
  }
}
/* ----------------------------------------- *\
    FLASH
\* ----------------------------------------- */

.alert {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: .25rem;

  &.success {
    background-color: hsl(134, 49%, 85%);
    color: hsl(134, 61%, 21%);
    border: 1px solid darken(hsl(134, 49%, 85%));
  }

  &.danger {
    background-color: hsl(355, 70%, 91%);
    color: hsl(356, 70%, 36%);
    border: 1px solid darken(hsl(355, 70%, 91%));
  }

  &.warning {
    background-color: hsl(46, 100%, 90%);
    color: hsl(45, 94%, 27%);
    border: 1px solid darken(hsl(46, 100%, 90%));
  }

  &.info {
    background-color: hsl(189, 53%, 88%);
    color: hsl(189, 78%, 21%);
    border: 1px solid darken(hsl(189, 53%, 88%));
  }
}


/* ----------------------------------------- *\
    RESPONSIVE
\* ----------------------------------------- */
@import "responsive"