/* Color theme */
$light-grey: hsl(29,16%,80%);
$mid-grey: hsl(0, 0%, 53%);
$dark-grey: hsl(0, 1%, 29%);
$dark: hsl(0,0%,11%);
$dark6: hsla(0,0%,11%,.6);
$beige: hsl(40,47%,82%);
$light: hsl(0, 0%, 98%);
$highlight: hsl(150, 82%, 44%);
$highlight3: hsla(150, 82%, 44%, .3);

//@import "~bootstrap/scss/bootstrap";

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans:400,700');

@font-face {
  font-family: 'highlander';
  src: url('../fonts/highlander-webfont.woff2') format('woff2'),
       url('../fonts/highlander-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}



$opensans: 'Open Sans', Arial, Helvetica, sans-serif;
$lato: 'Lato', Arial, Helvetica, sans-serif;
$cursive: 'highlander', serif;
$body-size: 1rem;
$line-height: ($body-size * 1.618);
$text-shadow: 8px 6px 12px hsla(0,0%,0%, .8);
$nav-height: 50px;
