<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Mood in Wood - Créations artisanales{% endblock %}</title>
        <link rel="icon" type="image/png" href="favicon.png" />

        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'admin/partials/header.html.twig' %}

        <main class="wrapper">
            <!-- Flash messages -->
            {% for label, messages in app.flashes %}
            <div class="container">
                <div class="alert {{ label }}">
                    {% for message in messages %}
                        {{ message | raw }}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            
            <section>
                {% block body %}{% endblock %}
            </section>
            
        </main>

        <script src="{{ asset('build/js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
