{% extends 'base.html.twig' %}

{% block title %}Toutes les créations Mood in Wood{% endblock %}

{% block body %}
    <section class="products">

        {{ form_start(form, { 'attr' : {'id': 'search-form'}}) }}
            {{ form_row(form.maxPrice) }}
            <button type="submit" class="button primary"><i class="fas fa-search"></i> Rechercher</button>
        {{ form_end(form) }}
    
        <h2>Toutes les créations Mood in Wood</h2>

        {% for product in products %}
            {% include 'product/_product.html.twig' %}
        {% endfor %}
    
    </section>
{% endblock %}
