{{ form_start(form) }}
    <div class="form-row">
        {{ form_rest(form) }}
        <button type="submit" class="button primary"><i class="fas fa-plus"></i>Ajouter le type de produit</button>
    </div>

{{ form_end(form) }}