{% extends 'admin/base.html.twig' %}

{% block title %}Modifier le type : {{ type.name }}{% endblock %}

{% block body %}

<h2>Modifier le type : <strong>{{ type.name }}</strong></h2>

{% include 'admin/product/type/_form.html.twig' with {'edit': edit} %}

{% endblock %}