{% extends 'base.html.twig' %}

{% block title %}Tous les types de produits{% endblock %}

{% block body %}
    <h1>Administration des types de produits</h1>

    <a href="{{ path('admin_types_new') }}" class="button primary"><i class="fas fa-plus"></i>Ajouter un type de produit</a>

    <hr>

    <table>
    
    <thead>
        <td>Type de produits existants</td>
        <td>Actions</td>
    </thead>

    <tbody>
    
    </tbody>
        {% for type in types %}
            <tr>
                <td>{{ type.name }}</td>
                <td>
                    <a href="{{ path('admin_types_edit', {'name': type.name}) }}" class="button info">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{{ path('admin_types_delete', {'name': type.name}) }}" class="button danger">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

</section>
{% endblock %}
