{{ form_start(form) }}
    <div class="form-row">
        {{ form_row(form.name) }}
        <button type="submit" class="button primary"><i class="fas fa-plus"></i>Ajouter la catégorie</button>
    </div>

{{ form_end(form) }}