{% extends 'base.html.twig' %}

{% block title 'Contactez-nous !' %}

{% block body %}
<section class="wrapper">

<h1>Contactez-nous !</h1>

{% include 'contact/_contact-form.html.twig' %}

</section>
{% endblock %}
