<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Mood in Wood - Créations artisanales{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="banner" role="banner">
            <a href="{{ path('homepage') }}"><img id="banner-logo" src="{{ asset('build/img/logo_MiW_white200.png') }}" alt="logo Mood in Wood" /></a>
            <h1>Mood in Wood</h1>
            <p>Créations artisanales made in Ardèche</p>
        </div>
        {% include 'partials/header.html.twig' %}

        <main class="wrapper">
            
            {% block body %}{% endblock %}
            
        </main>

        {% include 'partials/footer.html.twig' %}

        <script src="{{ asset('build/js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
