{% extends 'base.html.twig' %}

{% block title %}Toutes les news !{% endblock %}

{% block body %}

<h2>Actualités Mood in Wood</h2>

<section class="posts">
    {% for post in pagination.data %}
        {% include 'partials/posts/_post.html.twig' %}
    {% endfor %}
</section>


{{ pagination.display() }}

{% endblock %}
