{% extends 'base.html.twig' %}

{% block title %}Toutes les news !{% endblock %}

{% block body %}

<h2>Actualités Mood in Wood</h2>

{% include 'partials/sidebar-news.html.twig' %}

<section class="posts with-sidebar">


    {% if pagination %}
        
        {% for post in pagination.data %}
            {% include 'post/_post.html.twig' %}
        {% endfor %}


    {% else %}
        {% for post in posts %}
            {% include 'post/_post.html.twig' %}
        {% endfor %}
    {% endif %}
</section>

    {% if pagination %}
        {{ pagination.display() }}
    {% endif %}


{% endblock %}
