{% extends 'admin/base.html.twig' %}

{% block title %}Ajouter un nouveau produit{% endblock %}

{% block body %}

<h2>Ajouter un nouveau produit</h2>

{% include 'admin/product/_form.html.twig' %}

{% endblock %}